.card-beneficios {
    width: fit-content;
    max-width: 350;
    height: auto;        /* se adapta al contenido */
    background: var(--color-negro-claro);
    border: 0.8px solid var(--color-plomo);
    border-radius: 18px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 18px;
}

.card-icono {
    width: 50px;
    height: 50px;
}

.subtitulo-beneficios {
    color: var(--color-blanco);
    font-size: 24px;     /* antes: 24px */
    margin: 0;           /* quitamos el margin-bottom: 48px */
}

.descripcion-beneficios {
    color: var(--color-plomo);
    font-size: 20px;     /* antes: 28px, era demasiado grande */
    line-height: 1.5;
}


@media (max-width: 768px) {
    .card-beneficios {
        max-width: 161;
        max-height: unset;
        padding: 10px;
        gap: 10px;
    }

    .subtitulo-beneficios {
        font-size: 10px;
    }

    .descripcion-beneficios {
        font-size: 12px;
    }
    .card-icono {
        width: 24px;
        height: 24px;
    }
}
