.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-fucsia);
    padding: 4px 30px;
    
    /* Hace que el header acompañe el scroll */
    position: sticky;
    top: 0;
    background-color: var(--color-negro); /* Fondo sólido para tapar el grid/anillos */
    z-index: 100; /* Asegura que esté por encima de todo */
}

.logo {
    padding: 5px 0px;
}

/* Estilos de los enlaces */
.header-nav {
    display: none; /* Ocultamos en móvil por defecto para evitar desbordes */
    gap: 2rem;
    align-items: center;
}

.header-nav a {
    color: var(--color-blanco);
    text-decoration: none;
    font-family: var(--fuente-parrafos);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: var(--color-fucsia); /* Efecto hover con tu color principal */
}

/* Mostrar enlaces solo en pantallas de escritorio/tablets grandes */
@media (min-width: 768px) {
    .header-nav {
        display: flex;
    }
}