.slide-track {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
p{
  margin-bottom: 40px;
}

.overflow-hidden {
  overflow-x: hidden;
  width: 100%;
  position: relative; /* Ayuda a contener elementos con comportamientos extraños */
}

@media (max-width: 768px) {
  .slide-track {
    gap: 1.5rem;
    animation-duration: 15s; /* más rápido = menos espacio vacío en pantalla chica */
  }
}