.slide-track {
  display: flex;
  gap: 3rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
p{
  margin-bottom: 40px;
}