.slide-track {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.overflow-hidden {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .slide-track {
    gap: 1.5rem;
    animation-duration: 15s;
  }

  .slide-track img {
    height: 44px !important;
  }
}