.premio-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.premios-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center
}
.premios-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
    margin-top: 80px;
}
/* mobile */
@media (max-width: 768px) {
    .premios-header {
        gap: 12px;
        margin-bottom: 40px;
        margin-top: 40px;
        justify-content: center;
    }

    .premios-container {
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        box-sizing: border-box;
    }
}