
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sixtyfour+Convergence&family=Space+Grotesk:wght@300..700&display=swap');

:root{

  /*    C O L O R E S    */
  
  /* PRINCIPALES */
  
    /* fondos */
  --color-fucsia:#C2185B;
  --color-negro:#000000;
  --color-celeste-oscuro:#1565C0;

    /* gradientes */
  --gradiente-principal:linear-gradient(90deg,var(--color-fucsia),var(--color-celeste-oscuro));
    
    /*textos */
  --color-celeste-claro:#2979FF;
  --color-blanco:#FFFFFF;
  --color-plomo:#AFABAB;

  /* SECUNDARIOS */

  /* textos */
  --color-morado:#A154F0;
  --color-melon:#E64A6A;
  --color-melon-claro:#F25E7C;

  /* fondos */
  --color-negro-claro:#0D0D0D;
  --color-blanco-bordes:#D9D9D9;

  /* tematica y 2do lugar*/
  --color-azul-oscuro:rgba(25, 35, 46, 0.3);

  /*ubicacion, badges 1er lugar y fechas importantes*/
  --color-fucsia-oscuro:rgba(45, 29, 35, 0.5); 

  /*    F U E N T E S    */
  --fuente-parrafos:'Space Grotesk';
  --fuente-subtitulos:'Sixtyfour Convergence';

}

*{
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.fuente-parrafos {
  font-family: var(--fuente-parrafos);
}

.fuente-subtitulos {
  font-family: var(--fuente-subtitulos);
  font-palette: --paleta-blanca;
}

@font-palette-values --paleta-blanca {
  font-family: 'Sixtyfour Convergence';
  override-colors: 0 #FFFFFF, 1 #FFFFFF, 2 #FFFFFF, 3 #FFFFFF;
}

.fuente-titulos{
  font-family:var(--fuente-subtitulos);
  font-palette:--paleta-celeste;
}

@font-palette-values --paleta-celeste {
  font-family: 'Sixtyfour Convergence';
  override-colors: 0 #2979FF, 1 #2979FF, 2 #2979FF, 3 #2979FF;
}

*{
  box-sizing: border-box;
}