
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sixtyfour+Convergence&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.google.com/share?selection.family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900|Press+Start+2P');
@import "tailwindcss";


@layer base {
  button {
    background: transparent;
    border: none;
    padding: 0;
    color: inherit;
  }
}
:root{

  /*    C O L O R E S    */
  
  /* PRINCIPALES */
  
    /* fondos */
  --color-fucsia:#F0197D;
  --color-negro:#000000;
  --color-celeste-oscuro:#1565C0;

    /* gradientes */
  --gradiente-principal:linear-gradient(90deg,var(--color-fucsia),var(--color-celeste-oscuro));
    
    /*textos */
  --color-celeste-claro:#2979FF;
  --color-blanco:#FFFFFF;
  --color-plomo:#AFABAB;

  /* SECUNDARIOS */

  /* textos */
  --color-morado:#A154F0;

  /* fondos */
  --color-negro-claro:#0D0D0D;
  --color-blanco-bordes:#D9D9D9;

  /* tematica y 2do lugar*/
  --color-azul-oscuro:rgba(25, 35, 46, 0.3);

  /*ubicacion, badges 1er lugar y fechas importantes*/
  --color-fucsia-oscuro:rgba(45, 29, 35, 0.5); 

  /*    F U E N T E S    */
  --fuente-parrafos:'Space Grotesk';
  --fuente-subtitulos:'Sixtyfour Convergence';
  --fuente-torneo-vibe: 'Press Start 2P', cursive;
}

*{
  box-sizing: border-box;
}

.contenedor-estandar {
  max-width: 100%;
  padding: 0px 80px;
  margin: 0 auto;
}

html,
body {
  background-color: black;
  color: white;
  min-height: 100vh;  
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* Ajusta este valor según la altura de tu Header */
  background-image:     
    repeating-radial-gradient(
      circle at center,
      transparent 0,
      transparent 40px,
      rgba(240, 25, 125, 0.05) 40px,
      rgba(240, 25, 125, 0.05) 41px
    ),    
    radial-gradient(circle at 0% 0%, rgba(240, 25, 125, 0.15) 10%, transparent 40%),    
    radial-gradient(circle at 100% 100%, rgba(21, 101, 192, 0.12) 10%, transparent 40%);
    
  background-attachment: fixed;
}

h1 {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}

.fuente-parrafos {
  font-family: var(--fuente-parrafos);
}

.fuente-subtitulos {
  font-family: var(--fuente-subtitulos);
  font-palette: --paleta-blanca;  
}

@font-palette-values --paleta-blanca {
  font-family: 'Sixtyfour Convergence';
  override-colors: 0 #FFFFFF, 1 #FFFFFF, 2 #FFFFFF, 3 #FFFFFF;
}

.fuente-titulos{
  font-family:var(--fuente-subtitulos);
  font-palette:--paleta-celeste;
}

.fuente-torneo-vibe{
  font-family:var(--fuente-torneo-vibe);  
}

@font-palette-values --paleta-celeste {
  font-family: 'Sixtyfour Convergence';
  override-colors: 0 #033A82, 1 #12315C, 2 #0C6EF5, 3 #2979FF
}


@media (max-width: 768px) {
  .contenedor-estandar {
    /* Reducimos el padding lateral de 80px a 20px (o 16px si prefieres más espacio) */
    padding: 0px 20px; 
  }

  /* Opcional: Reducir ligeramente los títulos principales para que no rompan en tantas líneas */
  h1 {
    font-size: 24px;
  }
}
