.hero-main{
    padding-top: 30px;
}

.hero-content {
    flex: 1;
    display: flex;
    gap: 1rem;
    margin-top: 70px;    
}

.hero-image {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(60%);
}

.hero-left, 
.hero-right {
    flex: 1;
}

.hero-left h1, 
.hero-left h2, 
.hero-left p {
    margin: 0;
}

.hero-left {    
    display: flex;
    flex-direction: column; 
    gap: 1rem;              
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fechas-section {
    font-size: large;
    display: flex;
    align-items: center;
    margin: 40px 0px;    
    justify-content: space-between;
    gap: 3rem;    
    
}

.caja-fecha {
    display: flex;
    align-items: center; /* Alinea el ícono y el texto verticalmente al centro */
    gap: 1rem;           /* Espacio entre el ícono y el texto */
}

.caja-fecha-icono {
    color: var(--color-fucsia);    
}

.texto-fecha {
    display: flex;
    flex-direction: column; /* Coloca el h4 y el p en una columna */  
    justify-content: space-around;
}

.caja-fecha h4,
.caja-fecha p {
    margin: 0; /* Elimina el margen predeterminado del h4 */
}

.card-lugar {
    width: 560px;    
    background-color: rgba(45, 29, 35, 0.5);
    border: 1px solid var(--color-fucsia);
    border-radius: 8px;
    overflow: hidden; /* Asegura que el link no se salga de las esquinas redondeadas */
}

/* El enlace interior (layout y reseteo de estilos) */
.card-enlace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem; /* El padding va aquí para que todo el interior sea clickeable */
    
    color: white; 
    text-decoration: none; 
    outline: none;
    cursor: pointer;
}


.info-lugar {
    display: flex;
    flex-direction: column;
}

.info-lugar h4, .info-lugar p {
    margin: 0;
}

.fechas-grupo {
  display: flex;  
  gap: 10rem;
  justify-content: center;
}

.text-torneo{
    font-size: 24px;
    padding-bottom: 12px;
    font-family: var(--fuente-torneo-vibe);
}

.text-vibecoding {
    font-size: 86px;    
    background: linear-gradient(to right, #C2185B, #1565C0, #C2185B);         
    background-size: 200% auto;     
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;    
    animation: moverGradiente 8s linear infinite; 
}

.hero-left p {
    font-size: 24px;
}

@keyframes moverGradiente {
    to {
        /* Desplaza el fondo hacia la izquierda, revelando los colores ocultos */
        background-position: 200% center; 
    }
}